#include "nickey44a.dtsi"

// P0.09/P0.10 are the nRF52840 NFC pins. Use them as ordinary GPIOs.
&uicr {
    nfct-pins-as-gpios;
};

/ {
    trackball: trackball {
        compatible = "pixart,paw3222-2wire";
        sclk-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        sdio-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        motion-gpios = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-cpi = <1216>;
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
        col-gpios
            = <&xiao_d 1 GPIO_ACTIVE_HIGH>
            , <&xiao_d 2 GPIO_ACTIVE_HIGH>
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>
            , <&xiao_d 4 GPIO_ACTIVE_HIGH>
            , <&xiao_d 5 GPIO_ACTIVE_HIGH>
            , <&xiao_d 6 GPIO_ACTIVE_HIGH>
            ;
};
